<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add
      key="Silvervine"
      value="https://pkgs.dev.azure.com/silvervineinc/LAAIR/_packaging/Silvervine/nuget/v3/index.json"
    />
  </packageSources>
</configuration>
